<a [routerLink]="['/add']">thêm</a>
<p>list works!</p>
<table>
  <tr>
    <th>tên</th>
    <th>ảnh</th>
    <th>giá</th>
    <th>số lượng</th>
    <th>mô tả</th>
    <th>sửa</th>
    <th>xóa</th>
  </tr>
  <tr *ngFor="let item of Products">
    <td>{{item.name}}</td>
    <td><img src="{{item.image}}" width="50px" height="50px" alt=""></td>
    <td>{{item.price}}</td>
    <td>{{item.quality}}</td>
    <td>{{item.desc}}</td>
    <td>
      <a [routerLink]="['/edit',item.id]">sửa</a>
    </td>
    <td>
      <button *ngIf="item.id" (click)="delete(item.id)">xóa</button>
    </td>
  </tr>
</table>
